<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <title>Homepage</title>
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/dashboard.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <script src="js/jquery.min.js"></script>
        <script src="js/script.js"></script>
</head>
    <body>
        <header>
            <div class="elements">
                        <span class="logo">
                            Team Syntactic Sugar: <br/>Fake Hospital
                        </span>
                <span th:inline="text" class="user" style="display:flex;">
                            Howdy [[${#httpServletRequest.remoteUser}]]!
                            <form th:action="@{/logout}" method="post" class="sign-out">
                                <input type="submit" value="Sign Out"/>
                            </form>

                        </span>
            </div>
        </header>
        <div class="flex">
            <div class="flex-container content">
                <h2>Doctor dashboard</h2>
                
                <!-- Search for patient -->
                <div class="dashboard-menu">
                    <h3>Search for patient<i class="fa fa-caret-down" aria-hidden="true"></i></h3>
                    <form class="dashboard-action" id="searchPatient" autocomplete="on" action="/searchPatient" >
                        <div class="input-container">
                            <select class="dropdown" form="searchPatient" id="searchPatientParam" name="searchParameter"
                                    onchange="searchPatient()" required>
                                <option value="" disabled selected hidden>Choose a search parameter</option>
                                <option value="name">Name</option>
                                <option value="id">ID</option>
                                <option value="department">Department</option>
                            </select>
                            <input class="input-field search searchPatient" type="text" placeholder="Name" name="name" id="pname">
                            <input class="input-field search searchPatient" type="tel" placeholder="ID" name="id" id="pid">
                            <input class="input-field search searchPatient" type="text" placeholder="Department"  name="department" id="pdepartment" >

                        </div>
                        <div class="submitButton">
                            <button type="submit" formmethod="post" class="btn">Search</button>
                        </div>
                    </form>
                </div>
                <!-- Get next waiting patient (Call from outDepartment) -->
                <div class="dashboard-menu">
                    <h3>Get next waiting patient<i class="fa fa-caret-down" aria-hidden="true"></i></h3>
                    <form class="dashboard-action" id="nextPatient" autocomplete="on" action="/nextPatient" >
                        <div class="input-container">
                            <input class="input-field" type="text" placeholder="Department" name="department" style="width:50%">
                            <button type="submit" formmethod="post" class="btn">Submit</button>
                        </div>
                    </form>
                </div>
                
                
            </div>
            <div class="flex-container searchResults">

            </div>
        </div>
    </body>
</html>