<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
<header>
    <div class="elements">
                <span class="logo">
                    Team Syntactic Sugar: <br/>Fake Hospital
                </span>
        <span th:inline="text" class="user" style="display:flex;">
                    Howdy [[${#httpServletRequest.remoteUser}]]!
                    <form th:action="@{/logout}" method="post" class="sign-out">
                        <input type="submit" value="Sign Out"/>
                    </form>

                </span>
    </div>
</header>
<div class="flex">
    <div class="flex-container content">
        <h2>ICT Officer dashboard</h2>

        <!-- Register staff -->
        <div class="dashboard-menu">
            <h3>Register staff <i class="fa fa-caret-down" aria-hidden="true"></i></h3>
            <form class="dashboard-action" id="registerStaff" autocomplete="on" action="/registerStaff">
                <div class="input-container">
                    <input class="input-field" type="text" placeholder="Name" name="name" required>
                    <input class="input-field" type="text" placeholder="Surname" name="surname" required>
                </div>
                <div class="input-container" >
                    <input class="input-field" type="text" placeholder="Home address" name="homeAddress" required>
                    <input class="input-field" type="tel" placeholder="Phone number" name="phoneNumber" required>
                </div>
                <div class="input-container">
                    <input class="input-field" type="date" placeholder="Birthday" name="birthday" required>
                    <select  class="dropdown" form="registerStaff" name="gender" required>
                        <option value="" disabled selected hidden>Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                    <select class="dropdown" form="registerStaff" name="role" required>
                        <option value="" disabled selected hidden>Role</option>
                        <option value="Doctor">Doctor</option>
                        <option value="Nurse">Nurse</option>
                        <option value="Clerk">Clerk</option>
                        <option value="ICT Officer">ICT Officer</option>
                    </select>
                </div>
                <div class="input-container submitButton">
                    <input class="input-field" type="text" placeholder="Register to which Speciality"  name="speciality" required>
                    <input class="input-field" type="text" placeholder="Register to which Department"  name="department" required>
                    <button type="submit" formmethod="post" class="btn inline">Register</button>
                </div>
            </form>
        </div>
        <!-- Search for staff -->
        <div class="dashboard-menu">
            <h3>Search for staff<i class="fa fa-caret-down" aria-hidden="true"></i></h3>
            <form class="dashboard-action" id="searchStaff" autocomplete="on" action="/searchStaff">
                <div class="input-container">
                    <select class="dropdown" form="searchStaff" id="searchStaffParam" name="searchParameter" onchange="searchStaff()"
                            required>
                        <option value="" disabled selected hidden>Choose a search parameter</option>
                        <option value="name">Name</option>
                        <option value="id">ID</option>
                        <option value="department">Department</option>
                    </select>
                    <input class="input-field update" id="textsearchstaff" style="display:block" type="text" placeholder="Text field" name="text">
                </div>
                <div class="submitButton">
                    <button type="submit" formmethod="get" class="btn">search</button>
                </div>
            </form>
        </div>
        <!-- Update staff -->
        <div class="dashboard-menu">
            <h3 >Update staff <i class="fa fa-caret-down" aria-hidden="true"></i></h3>
            <form class="dashboard-action" id="updateStaff" autocomplete="on" action="/updateStaff">
                <div class="input-container">
                    <input class="input-field" type="text" placeholder="ID" name="id" required>
                    <select class="dropdown" id="selectParamStaff" form="updateStaff" name="parameter" onchange="upStaff()" required>
                        <option value="" disabled selected hidden>Choose value to update</option>
                        <option value="name">Name</option>
                        <option value="surname">Surname</option>
                        <option value="homeAddress">Home address</option>
                        <option value="phoneNumber">Phone number</option>
                        <option value="email">E-Mail</option>
                        <option value="birthday">Birthday</option>
                        <option value="gender">Gender</option>
                        <option value="role">Role</option>
                    </select>
                    <input class="input-field update updateStaff" id="textS" style="display:block" type="text" placeholder="Text field" name="text">
                    <input class="input-field update updateStaff" id="numS" type="tel" placeholder="Phone number" name="phoneNumber">
                    <input class="input-field update updateStaff" id="dateS" type="date" placeholder="Birthday" name="birthday">
                    <select class="dropdown update updateStaff" id="genderS" form="updateStaff" name="gender" required>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                    <select class="dropdown update updateStaff" id="roleS" form="updateStaff" name="role" required>
                        <option value="Doctor">Doctor</option>
                        <option value="Nurse">Nurse</option>
                        <option value="Clerk">Clerk</option>
                        <option value="ICT Officer">ICT Officer</option>
                    </select>

                </div>
                <div class="input-container">

                </div>
                <div class="submitButton">
                    <button type="submit" formmethod="post" class="btn">Update</button>
                </div>
            </form>
        </div>

        <!-- Register patient -->
        <div class="dashboard-menu">
            <h3 >Register patient <i class="fa fa-caret-down" aria-hidden="true"></i></h3>

            <form class="dashboard-action" id="registerPatient" autocomplete="on" action="/registerPatient" >
                <div class="input-container">
                    <input class="input-field" type="text" placeholder="Name" name="name" required>
                    <input class="input-field" type="text" placeholder="Surname" name="surname" required>
                </div>
                <div class="input-container" >
                    <input class="input-field" type="text" placeholder="Home address" name="homeAddress" required>
                </div>
                <div class="input-container">
                    <input class="input-field" type="tel" placeholder="Phone number" name="phoneNumber" required>
                    <input class="input-field" type="date" placeholder="Birthday" name="birthday" required>
                    <select class="dropdown" form="registerPatient" name="gender" required>
                        <option value="" disabled selected hidden>Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <div class="input-container submitButton">
                    <input class="input-field" type="text" placeholder="Register to which department"  name="department" required>
                    <button type="submit" formmethod="post" class="btn">Register</button>
                </div>
            </form>
        </div>
        <!-- Search for patient -->
        <div class="dashboard-menu">
            <h3>Search for patient<i class="fa fa-caret-down" aria-hidden="true"></i></h3>
            <form class="dashboard-action" id="searchPatient" autocomplete="on" action="/searchPatient">
                <div class="input-container">
                    <select class="dropdown" form="searchPatient" id="searchPatientParam" name="searchParameter"
                            onchange="searchPatient()" required>
                        <option value="" disabled selected hidden>Choose a search parameter</option>
                        <option value="name">Name</option>
                        <option value="id">ID</option>
                        <option value="department">Department</option>
                    </select>
                    <input class="input-field update" id="text2" style="display:block" type="text" placeholder="Text field" name="text">

                </div>
                <div class="submitButton">
                    <button type="submit" formmethod="get" class="btn">Search</button>
                </div>
            </form>
        </div>
        <!-- Update patient -->
        <div class="dashboard-menu">
            <h3 >Update patient <i class="fa fa-caret-down" aria-hidden="true"></i></h3>

            <form class="dashboard-action" id="updatePatient" autocomplete="on" action="/updatePatient" >
                <div class="input-container">
                    <input class="input-field" type="text" placeholder="ID" name="id" required>
                    <select class="dropdown" form="updatePatient" id="selectParamPatient" name="parameter" onchange="upPatient()" required>
                        <option value="" disabled selected hidden>Choose value to update</option>
                        <option value="name">Name</option>
                        <option value="surname">Surname</option>
                        <option value="homeAddress">Home address</option>
                        <option value="phoneNumber">Phone number</option>
                        <option value="birthday">Birthday</option>
                        <option value="gender">Gender</option>
                    </select>
                    <input class="input-field update updatePatient" id="textP" style="display:block" type="text" placeholder="Text field" name="text">
                    <input class="input-field update updatePatient" id="numP" type="tel" placeholder="Phone number" name="phoneNumber" required>
                    <input class="input-field update updatePatient" id="dateP" type="date" placeholder="Birthday" name="birthday">
                    <select class="dropdown update updatePatient" id="genderP" form="updatePatient" name="gender" required>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <div class="submitButton">
                    <button type="submit" formmethod="post" class="btn">Update</button>
                </div>
            </form>
        </div>

        <!-- Delete person -->
        <div class="dashboard-menu">
            <h3>Delete person<i class="fa fa-caret-down" aria-hidden="true"></i></h3>
            <form class="dashboard-action" id="deletePerson" autocomplete="on" action="/deletePerson">
                <div class="input-container">
                    <input class="input-field" type="text" placeholder="ID" name="id" required>
                    <button type="submit" formmethod="post" class="btn">Delete</button>
                </div>
            </form>
        </div>

    </div>
    <div class="flex-container content">
        <h2>Department management</h2>

        <!-- Add department -->
        <div class="dashboard-menu">
            <h3>Add department<i class="fa fa-caret-down" aria-hidden="true"></i></h3>
            <form class="dashboard-action" id="addDepartment" autocomplete="on" action="/addDepartment">
                <div class="input-container">
                    <input class="input-field" type="text" placeholder="Unique ID" name="id" required>
                    <input class="input-field" type="text" placeholder="Department name" name="name" required>
                    <select class="dropdown" form="addDepartment" name="type" id="departmentType" onchange="addDepartment()" required>
                        <option value="" disabled selected hidden>Department type</option>
                        <option value="out">Out department</option>
                        <option value="in">In department</option>
                        <option value="er">ER department</option>
                    </select>
                </div>
                <div class="input-container">
                    <input class="input-field hidden" id="capacity" type="tel" placeholder="Capacity" style="width: 26%" name="capacity">
                    <button type="submit" formmethod="post" class="btn">Add</button>
                </div>
            </form>
        </div>
        <!-- Remove department -->
        <div class="dashboard-menu">
            <h3>Remove department<i class="fa fa-caret-down" aria-hidden="true"></i></h3>
            <form class="dashboard-action" id="removeDepartment" autocomplete="on" action="/removeDepartment">
                <div class="input-container">
                    <input class="input-field" type="text" placeholder="Unique ID" name="id" required>
                    <button type="submit" formmethod="post" class="btn inline">Remove</button>
                </div>
            </form>
        </div>
        <!-- Move person -->
        <div class="dashboard-menu">
            <h3>Move person department<i class="fa fa-caret-down" aria-hidden="true"></i></h3>
            <form class="dashboard-action" id="movePerson" autocomplete="on" action="/movePerson">
                <div class="input-container">
                    <input class="input-field" type="text" placeholder="Person ID" name="personId" required>
                    <input class="input-field" type="text" placeholder="From department ID" name="fromId" required>
                    <input class="input-field" type="text" placeholder="To department ID" name="toId" required>
                </div>
                <div class="input-container">
                    <button type="submit" formmethod="post" class="btn">Remove</button>
                </div>
            </form>
        </div>

    </div>
</div>
</body>
</html>