<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
<header>
    <div class="elements">
                <span class="logo">
                    Team Syntactic Sugar: <br/>Fake Hospital
                </span>
        <span th:inline="text" class="user" style="display:flex;">
                    Howdy [[${#httpServletRequest.remoteUser}]]!
                    <form th:action="@{/logout}" method="post" class="sign-out">
                        <input type="submit" value="Sign Out"/>
                    </form>

                </span>
    </div>
</header>
<div class="flex">
    <div class="flex-container content">
        <h2>ICT Officer dashboard</h2>

        <!-- Register staff -->
        <div class="dashboard-menu">
            <h3>Register staff <i class="fa fa-caret-down" aria-hidden="true"></i></h3>
            <form class="dashboard-action" id="registerStaff" autocomplete="on" action="/registerStaff" target="_blank">
                <div class="input-container">
                    <input class="input-field" type="text" placeholder="Name" name="name" required>
                    <input class="input-field" type="text" placeholder="Surname" name="surname" required>
                </div>
                <div class="input-container" >
                    <input class="input-field" type="text" placeholder="Home address" name="homeAddress" required>
                    <input class="input-field" type="tel"  pattern="[0-9]{8}" placeholder="Phone number" name="phoneNumber" required>
                </div>
                <div class="input-container">
                    <input class="input-field" type="date" placeholder="Birthday" name="birthday" required>
                    <select  class="dropdown" form="registerStaff" name="gender" required>
                        <option value="" disabled selected hidden>Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                    <select class="dropdown" form="registerStaff" name="role" id="role" onchange="roleStaff()" required>
                        <option value="" disabled selected hidden>Role</option>
                        <option value="Doctor">Doctor</option>
                        <option value="Nurse">Nurse</option>
                        <option value="Clerk">Clerk</option>
                        <option value="ICT Officer">ICT Officer</option>
                    </select>
                </div>
                <div class="input-container submitButton">
                    <input class="input-field" type="text" placeholder="Register to which department"  name="department" required>
                    <select class="dropdown hidden" id="speciality" form="registerStaff" name="speciality">
                        <option value="" disabled selected hidden>Speciality</option>
                        <option value="ALLERGYANDIMMUNOLOGY">Allergy & immunology</option>
                        <option value="ANESTHESIOLOGY">Anesthesiology</option>
                        <option value="DERMATOLOGY">Dermatology</option>
                        <option value="DIAGNOSTICRADIOLOGY">Diagnostic radiology</option>
                        <option value="EMERGENCYMEDICINE">Emergency Medicine</option>
                        <option value="FAMILYMEDICINE">Family Medicine</option>
                        <option value="INTERNALMEDICINE">Internal Medicine</option>
                        <option value="MEDICALGENETICS">Medical Genetics</option>
                        <option value="NEUROLOGY">Neurology</option>
                        <option value="NUCLEARMEDICINE">Nuclear Medicine</option>
                        <option value="OBSTETRICSANDGYNECOLOGY">Obstetrics and gynecology</option>
                        <option value="OPHTHALMOLOGY">Ophthalmology</option>
                        <option value="PATHOLOGY">Pathology</option>
                        <option value="PEDIATRICS">Pediatrics</option>
                        <option value="PHYSICALMEDICINEANDREHABILITATION">Physical medicine & rehabilitation</option>
                        <option value="PREVENTIVEMEDICINE">Preventive medicine</option>
                        <option value="RADIATIONONCOLOGY">Radiation oncology</option>
                        <option value="SURGERY">Surgery</option>
                        <option value="UROLOGY">Urology</option>
                    </select>
                    <button type="submit" formmethod="post" class="btn inline">Register</button>
                </div>
            </form>
        </div>
        <!-- Search for staff -->
        <div class="dashboard-menu">
            <h3>Search for staff<i class="fa fa-caret-down" aria-hidden="true"></i></h3>
            <form class="dashboard-action" id="searchStaff" autocomplete="on" action="/searchStaff" target="_blank">
                <div class="input-container">
                    <select class="dropdown" form="searchStaff" name="searchParameter" required>
                        <option value="" disabled selected hidden>Choose a search parameter</option>
                        <option value="name">Name</option>
                        <option value="id">ID</option>
                        <option value="department">Department</option>
                    </select>
                    <input class="input-field" type="text" placeholder="Text field" name="text" required>
                </div>
                <div class="submitButton">
                    <button type="submit" formmethod="get" class="btn">search</button>
                </div>
            </form>
        </div>
        <!-- Update staff -->
        <div class="dashboard-menu">
            <h3 >Update staff <i class="fa fa-caret-down" aria-hidden="true"></i></h3>
            <form class="dashboard-action" id="updateStaff" autocomplete="on" action="/updateStaff" target="_blank">
                <div class="input-container">
                    <input class="input-field" type="text" placeholder="ID" name="id" required>
                    <select class="dropdown" id="selectParamStaff" form="updateStaff" name="parameter" onchange="upStaff()" required>
                        <option value="" disabled selected hidden>Choose value to update</option>
                        <option value="name">Name</option>
                        <option value="surname">Surname</option>
                        <option value="homeAddress">Home address</option>
                        <option value="phoneNumber">Phone number</option>
                        <option value="email">E-Mail</option>
                        <option value="birthday">Birthday</option>
                        <option value="gender">Gender</option>
                        <option value="role">Role</option>
                    </select>
                    <input class="input-field update updateStaff" id="textS" style="display:block" type="text" placeholder="Text field" name="in-text">
                    <input class="input-field update updateStaff" id="numS"  pattern="[0-9]{8}" type="tel" placeholder="Phone number" name="in-number">
                    <input class="input-field update updateStaff" id="dateS" type="date" placeholder="Birthday" name="in-date">
                    <select class="dropdown update updateStaff" id="genderS" form="updateStaff" name="in-gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                    <select class="dropdown update updateStaff" id="roleS" form="updateStaff" name="role" required>
                        <option value="Doctor">Doctor</option>
                        <option value="Nurse">Nurse</option>
                        <option value="Clerk">Clerk</option>
                        <option value="ICT Officer">ICT Officer</option>
                    </select>

                </div>
                <div class="input-container">

                </div>
                <div class="submitButton">
                    <button type="submit" formmethod="post" class="btn">Update</button>
                </div>
            </form>
        </div>

        <!-- Register patient -->
        <div class="dashboard-menu">
            <h3 >Register patient <i class="fa fa-caret-down" aria-hidden="true"></i></h3>

            <form class="dashboard-action" id="registerPatient" autocomplete="on" action="/registerPatient" target="_blank">
                <div class="input-container">
                    <input class="input-field" type="text" placeholder="Name" name="name" required>
                    <input class="input-field" type="text" placeholder="Surname" name="surname" required>
                </div>
                <div class="input-container" >
                    <input class="input-field" type="text" placeholder="Home address" name="homeAddress" required>
                </div>
                <div class="input-container">
                    <input class="input-field" type="tel"  pattern="[0-9]{8}" placeholder="Phone number" name="phoneNumber" required>
                    <input class="input-field" type="date" placeholder="Birthday" name="birthday" required>
                    <select class="dropdown" form="registerPatient" name="gender" required>
                        <option value="" disabled selected hidden>Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <div class="input-container submitButton">
                    <input class="input-field" type="text" placeholder="Register to which department"  name="department" required>
                    <button type="submit" formmethod="post" class="btn">Register</button>
                </div>
            </form>
        </div>
        <!-- Search for patient -->
        <div class="dashboard-menu">
            <h3>Search for patient<i class="fa fa-caret-down" aria-hidden="true"></i></h3>
            <form class="dashboard-action" id="searchPatient" autocomplete="on" action="/searchPatient" target="_blank">
                <div class="input-container">
                    <select class="dropdown" form="searchPatient" name="searchParameter" required>
                        <option value="" disabled selected hidden>Choose a search parameter</option>
                        <option value="name">Name</option>
                        <option value="id">ID</option>
                        <option value="department">Department</option>
                    </select>
                    <input class="input-field" type="text" placeholder="Text field" name="text" required>

                </div>
                <div class="submitButton">
                    <button type="submit" formmethod="get" class="btn">Search</button>
                </div>
            </form>
        </div>
        <!-- Update patient -->
        <div class="dashboard-menu">
            <h3 >Update patient <i class="fa fa-caret-down" aria-hidden="true"></i></h3>

            <form class="dashboard-action" id="updatePatient" autocomplete="on" action="/updatePatient" target="_blank">
                <div class="input-container">
                    <input class="input-field" type="text" placeholder="ID" name="id" required>
                    <select class="dropdown" form="updatePatient" id="selectParamPatient" name="parameter" onchange="upPatient()" required>
                        <option value="" disabled selected hidden>Choose value to update</option>
                        <option value="name">Name</option>
                        <option value="surname">Surname</option>
                        <option value="homeAddress">Home address</option>
                        <option value="phoneNumber">Phone number</option>
                        <option value="birthday">Birthday</option>
                        <option value="gender">Gender</option>
                    </select>
                    <input class="input-field update updatePatient" id="textP" style="display:block" type="text" placeholder="Text field" name="in-text">
                    <input class="input-field update updatePatient" id="numP" pattern="[0-9]{8}" type="tel" placeholder="Phone number" name="in-number">
                    <input class="input-field update updatePatient" id="dateP" type="date" placeholder="Birthday" name="in-date">
                    <select class="dropdown update updatePatient" id="genderP" form="updatePatient" name="in-gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <div class="submitButton">
                    <button type="submit" formmethod="post" class="btn">Update</button>
                </div>
            </form>
        </div>

        <!-- Delete person -->
        <div class="dashboard-menu">
            <h3>Delete person<i class="fa fa-caret-down" aria-hidden="true"></i></h3>
            <form class="dashboard-action" id="deletePerson" autocomplete="on" action="/deletePerson" target="_blank">
                <div class="input-container">
                    <input class="input-field" type="text" placeholder="ID" name="id" required>
                    <button type="submit" formmethod="post" class="btn">Delete</button>
                </div>
            </form>
        </div>

    </div>
    <div class="flex-container content">
        <h2>Department management</h2>

        <!-- Add department -->
        <div class="dashboard-menu">
            <h3>Add department<i class="fa fa-caret-down" aria-hidden="true"></i></h3>
            <form class="dashboard-action" id="addDepartment" autocomplete="on" action="/addDepartment" target="_blank">
                <div class="input-container">
                    <input class="input-field" type="text" placeholder="Unique ID" name="id" required>
                    <input class="input-field" type="text" placeholder="Department name" name="name" required>
                    <select class="dropdown" form="addDepartment" name="type" id="departmentType" onchange="addDepartment()" required>
                        <option value="" disabled selected hidden>Department type</option>
                        <option value="out">Out department</option>
                        <option value="in">In department</option>
                        <option value="er">ER department</option>
                    </select>
                </div>
                <div class="input-container">
                    <input class="input-field hidden" id="capacity" type="tel" placeholder="Capacity" style="width: 26%" name="capacity">
                    <button type="submit" formmethod="post" class="btn">Add</button>
                </div>
            </form>
        </div>
        <!-- Remove department -->
        <div class="dashboard-menu">
            <h3>Remove department<i class="fa fa-caret-down" aria-hidden="true"></i></h3>
            <form class="dashboard-action" id="removeDepartment" autocomplete="on" action="/removeDepartment" target="_blank">
                <div class="input-container">
                    <input class="input-field" type="text" placeholder="Unique ID" name="id" required>
                    <button type="submit" formmethod="post" class="btn inline">Remove</button>
                </div>
            </form>
        </div>
        <!-- Move person -->
        <div class="dashboard-menu">
            <h3>Move person department<i class="fa fa-caret-down" aria-hidden="true"></i></h3>
            <form class="dashboard-action" id="movePerson" autocomplete="on" action="/movePerson" target="_blank">
                <div class="input-container">
                    <input class="input-field" type="text" placeholder="Person ID" name="personId" required>
                    <input class="input-field" type="text" placeholder="To department ID" name="toId" required>
                    <select class="dropdown" form="movePerson" name="type" required>
                        <option value="" disabled selected hidden>Person type</option>
                        <option value="patient">Patient</option>
                        <option value="staff">Staff</option>
                    </select>
                </div>
                <div class="input-container">
                    <button type="submit" formmethod="post" class="btn">Move</button>
                </div>
            </form>
        </div>
        <!-- Create PDF -->
        <div class="dashboard-menu">
            <h3>Generate PDF<i class="fa fa-caret-down" aria-hidden="true"></i></h3>
            <form class="dashboard-action" autocomplete="on" action="/generatePdf">
                <div class="input-container">
                    <input class="input-field" type="text" placeholder="Department ID" name="id" required>
                    <button type="submit" formmethod="get" class="btn inline">Generate PDF</button>
                </div>
            </form>
        </div>

    </div>
</div>
</body>
</html>