<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
<header>
    <div class="elements">
                        <span class="logo">
                            Team Syntactic Sugar: <br/>Fake Hospital
                        </span>
        <span th:inline="text" class="user" style="display:flex;">
                            Howdy [[${#httpServletRequest.remoteUser}]]!
                            <form th:action="@{/logout}" method="post" class="sign-out">
                                <input type="submit" value="Sign Out"/>
                            </form>

                        </span>
    </div>
</header>
<div class="flex">
    <div class="flex-container content">
        <h2>Nurse dashboard</h2>
        <!-- Search for patient -->
        <div class="dashboard-menu">
            <h3>Search for patient<i class="fa fa-caret-down" aria-hidden="true"></i></h3>
            <form class="dashboard-action" id="searchPatient" autocomplete="on" action="/searchPatient">
                <div class="input-container">
                    <select class="dropdown" form="searchPatient" id="searchPatientParam" name="searchParameter"
                            onchange="searchPatient()" required>
                        <option value="" disabled selected hidden>Choose a search parameter</option>
                        <option value="name">Name</option>
                        <option value="id">ID</option>
                        <option value="department">Department</option>
                    </select>
                    <input class="input-field search searchPatient" type="text" placeholder="Name" name="in-name" id="pname">
                    <input class="input-field search searchPatient" type="tel" placeholder="ID" name="in-id" id="pid">
                    <input class="input-field search searchPatient" type="text" placeholder="Department" name="in-department" id="pdepartment" >

                </div>
                <div class="submitButton">
                    <button type="submit" formmethod="get" class="btn">Search</button>
                </div>
            </form>
        </div>
        <!-- Assign patient to waiting room/bed -->
        <div class="dashboard-menu">
            <h3>Assign patient to department<i class="fa fa-caret-down" aria-hidden="true"></i></h3>
            <form class="dashboard-action" id="assignPatient" autocomplete="on" action="/assignPatient">
                <div class="input-container">
                    <input class="input-field" type="text" placeholder="ID" name="id">
                    <input class="input-field" type="text" placeholder="Department" name="department">
                </div>
                <div class="submitButton">
                    <button type="submit" formmethod="post" class="btn">Assign</button>
                </div>
            </form>
        </div>


        <!-- BedManger things -->
        <!-- Action for patient -->
        <div class="dashboard-menu">
            <h3>Action for patient<i class="fa fa-caret-down" aria-hidden="true"></i></h3>
            <form class="dashboard-action" id="dischargePatient" autocomplete="on" action="/actionPatient">
                <div class="input-container">
                    <input class="input-field" type="text" placeholder="ID" name="id" required>
                    <select class="dropdown" form="dischargePatient" name="action" required>
                        <option value="" selected disabled hidden>Choose an action</option>
                        <option value="assign">Assign</option>
                        <option value="discharge">Discharge</option>
                        <option value="removeFromBed">Remove from bed</option>
                        <option value="changeBed">Change bed</option>
                    </select>
                    <input class="input-field" type="tel" placeholder="Optional bed ID" name="bedId">
                </div>
                <div class="submitButton">
                    <button type="submit" formmethod="post" class="btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>