.search {
    display:none;
}
#searchStaffParam, #searchPatientParam {
    width:50%;
}
/* DASHBOARDS */
.dashboard-menu > h3 > i {
    margin-left: 10px;
}
.dashboard-menu > form {
    display:none;
}
.dashboard-menu > h3 {
    display: inline-block;
}
.dashboard-menu {
    width: 100%;
    margin: 20px 0px;
    
    border-radius: 10px;
    border: 2px solid grey;
}
.dashboard-menu > h3 {
    margin: 0px;
    width: 100%;
    padding: 20px;
}